{% extends "layout.html" %}

{% block content %}

    <!-- Starts image section -->
    <div class="row justify-content-md-center mb-4">
        <h2 class='text-primary'>Calculate Model's Result</h2>
    </div>

    <!-- Starts form section -->
    <div class="form-container ">
        <form class="form-horizontal" action="/home" method=post enctype=multipart/form-data>

            <div class="form-group row">
              <label class="control-label col-sm-2" for="">Input Your Dataset:</label>
              <div class="col-sm-4">
                <input type="file" class="form" id="" name="file">
              </div>
            </div>

            <div class="form-group row">
            <label class="control-label col-sm-2" for="">&nbsp;</label>
              <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Process</button>
                <br>

              </div>
            </div>
          </form>
        <!-- Ends form section -->
    </div>


{% endblock %}
